REACT_APP_FIREBASE_API_KEY='Your firebase api key'
REACT_APP_FIREBASE_AUTH_DOMAIN='Your firebase auth domain'
REACT_APP_FIREBASE_PROJECT_ID='Your firebase project id'
REACT_APP_FIREBASE_STORAGE_BUCKET='Your firebase storage bucket'
REACT_APP_FIREBASE_MESSAGING_SENDER_ID='Your firebase messaging sender id'
REACT_APP_FIREBASE_APP_ID='Your firebase app id'
REACT_APP_FIREBASE_MEASUREMENT_ID='Your firebase measurement id'