@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Abenda';
	src: url('../.github/fonts/Abenda.ttf');
}

@font-face {
	font-family: 'SourceHanSerif';
	src: url('../.github/fonts/SourceHanSerifK-SemiBold.otf');
}

body {
	background-color: theme(colors.tertiary);
}