@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Abenda';
	src: url('../assets/fonts/Abenda.ttf');
}

@font-face {
	font-family: 'SourceHanSerif';
	src: url('../assets/fonts/SourceHanSerifK-SemiBold.otf');
}

@font-face {
	font-family: 'Pretendard';
	src: url('../assets/fonts/Pretendard-Regular.ttf');
}

body {
	background-color: theme(colors.tertiary);
}

.flow {
	-webkit-animation: bg-flow 10s linear infinite;
	-moz-animation: bg-flow 10s linear infinite;
	animation: bg-flow 5s linear infinite;
}

@keyframes bg-flow {
	to {
		background-position: 480px 0;
	}
}